:root {
  --border-space: 3px;
}

container {
  display: block;
  width: 500px;
  height: 500px;
  background-color: antiquewhite;
}

board {
  display: grid;
  background-image: var(--bg);
  background-size: cover;

  /* clip-path: inset(3px); */
  /* optional to hide outer borders */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  gap: 3px;
}




.square {
  background-color: aliceblue;
}

 .animated {
   stroke-dasharray: 100;
   stroke-dashoffset: 100;

   animation: drawO 0.4s ease-out forwards;
 }

 @keyframes drawO {
   to {
     stroke-dashoffset: 0;
   }
 }

 .x-line {
   stroke: #EA4335;
   stroke-width: 10;
   stroke-linecap: round;

   stroke-dasharray: 100;
   stroke-dashoffset: 100;

   animation: drawX 0.2s ease-out forwards;
 }

 .x2 {
   animation-delay: 0.2s;
 }

 @keyframes drawX {
   to {
     stroke-dashoffset: 0;
   }
 }